<div>
  <div class="banner">
    <h2><%= @cocktail.name %></h2>
  </div>

  <div class="flex">
    <div>
      <h3>Ingredients</h3>
      <% if @cocktail.doses.empty? %>
        <p>No ingredients given yet.</p>
      <% else %>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name + ": " + dose.description %></li>
            <%= link_to "remove ingredient", cocktail_dose_path(@cocktail.id, dose.id), method: :delete %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div>
      <h4>Add ingredient</h4>
      <%= render 'dose', cocktail: @cocktail, dose: @dose %>
    </div>
  </div>

  <div>
    <h3>Reviews</h3>
    <% if @cocktail.reviews.empty? %>
      <p>No reviews given yet.</p>
    <% else %>
      <ul>
        <% @cocktail.reviews.each do |review| %>
          <%= review.content %>
          <%= '*' * review.rating %>
        <% end %>
      </ul>
    <% end %>
    <h4>Add review</h4>
    <%= render 'review', cocktail: @cocktail, review: @review %>
  </div>


  <%= link_to "Back to cocktail list", cocktails_path %>
</div>
